<amexio-row>
    <amexio-column size="6">
        <amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
            <amexio-header>
            </amexio-header>
            <amexio-body>
                <amexio-text-input [field-label]="'text input'" [(ngModel)]="template1.text" name="template1.text" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>

            </amexio-body>

            <amexio-action>

            </amexio-action>
        </amexio-card>
    </amexio-column>
    <amexio-column size="6">
    </amexio-column>
</amexio-row>