<amexio-row>
    <amexio-column size="12">
        <amexio-card [footer]="true" [header]="true" [show]="true">
            <amexio-header>
                test
            </amexio-header>
            <amexio-body>
                <amexio-row>
                    <amexio-column size="6">
                        <amexio-text-input [field-label]="'carrd'" [(ngModel)]="template5.TextInput1" name="template5.TextInput1" [allow-blank]="true" [min-length]="0" [max-length]="20" [has-label]="true">
                        </amexio-text-input>
                        <amexio-email-input [field-label]="'Email'" [(ngModel)]="template5.EmailId" name="template5.EmailId" [place-holder]="'example@gmail.com'" [allow-blank]="true" [has-label]="true">
                        </amexio-email-input>
                    </amexio-column>
                    <amexio-column size="6">
                        <amexio-text-input [field-label]="'Text Input'" [(ngModel)]="template5.textInput2" name="template5.textInput2" [allow-blank]="true" [min-length]="0" [max-length]="20" [has-label]="true">
                        </amexio-text-input>
                        <amexio-password-input [field-label]="'Password'" [(ngModel)]="template5.Password" name="template5.Password" [place-holder]="'Enter Password'" [allow-blank]="true" [min-length]="0" [max-length]="20" [has-label]="true">
                        </amexio-password-input>
                    </amexio-column>
                </amexio-row>


            </amexio-body>

            <amexio-action>
                <amexio-button [label]="'Submit'" [type]="'success'" [tooltip]="'Submit'" [size]="'default'" [form-bind]="'SubmitBtn'">
                </amexio-button>

            </amexio-action>
        </amexio-card>
    </amexio-column>
</amexio-row>

<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>