<amexio-row>
    <amexio-column size="4">
        <amexio-text-input [field-label]="'text input'" [(ngModel)]="template2.text1" name="template2.text1" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
    <amexio-column size="4">
        <amexio-text-input [field-label]="'text input'" [(ngModel)]="template2.text2" name="template2.text2" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
    <amexio-column size="4">
        <amexio-text-input [field-label]="'text input'" [(ngModel)]="template2.text3" name="template2.text3" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
</amexio-row>